<br>
  <h1 align="center">
    Coin MarketCap Plus
  </h1>
  <h5 align="center">
    Top 100 Cryptocurrencies by Market Capitalization
  </h5>
<br>
<br>
<br>

<div class="container">
    <div class="row">   
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Coin</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Price</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
          <h4>Volume</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Circulating Supply</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Marketcap</h4>
      </div>
       
    </div>
    
    </div>
<hr>

<div *ngFor="let coin of coinsnImageList">
<div class="container">
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    <img  src={{coin.imagelocation}}/>  {{coin.name | titlecase}}
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
      <div class="blue">{{coin.price | currency}}</div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
      <div class="blue">{{coin.volume | currency}}</div>
  </div>  
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    {{coin.circulating | number}}
  </div>  
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    {{ coin.circulating * coin.price | currency }}
  </div>  
</div>

</div>
<hr>
</div>
