/*
#div-gpt-ad-1517714727704-0 {   
    display:none;
}
*/

.header-banner-close {
    /* display:none;  */
    z-index:1000;
    color: #fff;
}
#header-banner-wrapper {
    text-align:center;
    /* House Banner Color: #0D1226;  */
    background-color: #000000;
    max-height:100px;
}

#header-banner-wrapper a:hover{text-decoration:none;}

