<hr>
<hr>
<hr>

  <h1 align="center">
      Portfolios
  </h1>
  <h3 align="center" *ngIf="this.total > 0">{{this.total | currency}}</h3>
<hr>
  <h5 align="center">
      <button  class="btn btn-success" (click)="addPortfolio(user)">Create New</button>
  </h5>

<hr>
<hr>

<div class="container">
  <div class="row">   
     <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
        
     </div>
    <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
      <h4 *ngIf="user && user.portfolio.length > 0">Name</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
     
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
     
    </div>
  </div>
</div>

<hr>
<hr>

<div *ngIf="user && user.portfolio.length > 0">
<div *ngFor="let portfo of user.portfolio">
  <div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
        
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
       {{portfo.portfolioName | titlecase}}
     </div> 
     <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24"> 
        <td><button class="btn btn-info" (click)="viewPortfolio(portfo.portfolioID)">View</button></td>   
      </div> 
      <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
        
      </div>
  </div>
  </div> 
  <hr>
</div>
</div>