<div class="modal-header">
    <h4 class="modal-title pull-left">Transaction</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

      <div class="btn-group">
          <label class="btn btn-success" [(ngModel)]="radioModel"
                 btnRadio="Left" tabindex="0" role="button">Buy</label>
          <label class="btn btn-danger" [(ngModel)]="radioModel"
                 btnRadio="Middle" tabindex="0" role="button">Sell</label>
      </div>

   <form #rolesForm="ngForm" id="portfolio">
     <hr>
     <p class="formfield">
      <label class="lblName">Quantity:</label> <textarea [(ngModel)]="NameModel" class="txtName" name="NameId" id="txtNameId" cols="8" rows="1"></textarea>
     </p>
   </form>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-success" form="rolesForm">Ok</button>
  </div>