<div class="portfolio-container">
  <h1 class="portfolio-title" align="center">All Portfolios Combined</h1>

  <div class="portfolio-summary" align="center">
    <h4>Total Value -  {{total | currency}}</h4>
    <h4>Total BTC Value -  {{total / bitcoinPrice | number:'1.3-3'}}</h4>
  </div>

  <div class="coin-row headings">
    <div class="coin-info"><h4>Coin</h4></div>
    <div class="coin-price"><h4>Price</h4></div>
    <div class="coin-holdings"><h4>Holdings</h4></div>
    <div class="coin-total"><h4>Total</h4></div>
    <div></div> <!--Empty div for spacing -->
  </div>

  <div *ngFor="let coin of AllcoinsnImageList; let i = index" class="coin-row">
    <div class="coin-info">
      <img class="coin-image" src={{coin.imageLocation}} width="32" height="32"/>  
      <span class="coin-name">{{coin.name | titlecase}}</span>
    </div>
    <div class="coin-price">${{coin.price}}</div>
    <div class="coin-holdings">{{coin.quantity}}</div>
    <div class="coin-total">{{coin.price * coin.quantity | currency }}</div>
    <button class="btn view-btn">View</button>
  </div>
  <br>
  <div class="chart-container">
    <canvas id="pieChart"></canvas>
  </div>
</div> 
