<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <!-- <div class="container"> -->
      <a class="navbar-brand text-light">Coin Market</a>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/coin']" routerLinkActive="router-link-active" >Price</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/selectportfolio']" routerLinkActive="router-link-active">PortFolio</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/transactions']" routerLinkActive="router-link-active">Transactions</a>
      </li>
      <!-- <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li> -->
    </ul>

      

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <!-- <span>
        <img src="{{photoUrl || '../../assets/user.png'}}" alt="">
      </span> -->
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>
    
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class='fa fa-user'></i>Edit Profile</a>
        <div class='dropdown-divider'></div>
        <a class="dropdown-item" (click)="logout()"><i class='fa fa-sign-out'></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
      <div>
          <button [disabled]="!loginForm.valid" class="btn btn-success my-2 mr-sm-2" type="submit">Login</button>   
         
      </div>
    </form>
    <button *ngIf="!loggedIn()" class="btn btn-info my-3 my-sm-0" [routerLink]="['/register']" >Register</button> 

   
  <!-- </div> -->

  </nav>