

button.register {
    padding-right: 50px;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.navbkgrnd {
    /* background-color:  var(--nav-color); */
    background-image:  var(--nav-gradiant);
}


.textlogo {
    font-size: x-large;
    color: white;
}

.textdropdown {
    color: white;
}