p.coin {
    padding-left: 50px;
}

.containersmall {
    padding-left: 100px;
}

.circulating {
    color: rgb(17, 134, 173);
}

.Volume {
    color: rgb(124, 222, 255);
}

.price {
    color: rgb(183, 255, 251)
}

.image {
    padding-right: 5px;
}

.positive_percent {
    color: lightgreen;
}

.negative_percent {
    color: rgb(194, 23, 0);
}

.img-container {
    width: 65px;
    height: 50px;
    float: centre;
}


#parent{
    display: grid;
    grid-template-columns: 20px 1fr;
}


