<br>
  <h1 align="center">
    Coin MarketCap Plus
  </h1>
  <h5 align="center">
    Top 100 Cryptocurrencies by Market Capitalization <button>C</button>
  </h5>
<br>
<br>
<br>

<div class="container">
    <div class="row">   
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Coin</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Price</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
          <h4>Volume</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Circulating Supply</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Marketcap</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Change 24hr</h4>
      </div>
       
    </div>
    
    </div>
<hr>

<div *ngFor="let coin of coinsnImageList">
<div class="container">
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    <img class="image"  src={{coin.imagelocation}} width="32" height="32"/>  {{ coin.name | titlecase }}
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
      <div class="blue">${{coin.price}}</div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
      <div class="blue">{{coin.volume | currency}}</div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    {{coin.circulating | number}}
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    {{ coin.circulating * coin.price | currency }}
  </div>  
  <div *ngIf="coin.percentChange24hr >= 0" class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    <div class="positive_percent">{{ coin.percentChange24hr }}</div>
  </div>
  <div *ngIf="coin.percentChange24hr < 0" class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
    <div class="negative_percent">{{ coin.percentChange24hr }}</div>
  </div>  
</div>

</div>
<hr>
</div>
