p.coin {
    padding-left: 50px;
}

.containersmall {
    padding-left: 100px;
}

.blue {
    color: rgb(40, 201, 255);
}

.image {
    padding-right: 5px;
}

.positive_percent {
    color: lightgreen;
}

.negative_percent {
    color: rgb(194, 23, 0);
}

.img-container {
    width: 65px;
    height: 50px;
    float: centre;
}

#parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


