<h1 style="text-align:center">
  Cryptocurrency Portfolio
  <img class="img-container" src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
</h1>
<h5 style="text-align:center">
  Top 200 Cryptocurrencies by Market Capitalization
</h5>

<br/>
<br/>
<br/>

<div class="table-container">
  <table>
      <tr>
          <th>#</th>
          <th>Coin</th>
          <th class="price">Price</th>
          <th class="volume">Volume</th>
          <th class="circulating">Circulating Supply</th>
          <th class="marketcap">Marketcap</th>
          <th class="hour1">1hr</th>
          <th>24hr</th>
          <th class="day7">7d</th>
      </tr>

      <tr *ngFor="let coin of coinsnImageList; let i = index">
          <td>{{i + 1}}</td>
          <td>
              <img src={{coin.imagelocation}} width="32" height="32"/>
              <span style="padding-left: 10px;">{{ coin.name | titlecase }}</span>
          </td>
          <td class="price">${{coin.price}}</td>
          <td class="volume">{{coin.volume | currency}}</td>
          <td class="circulating">{{coin.circulating | number}}</td>
          <td class="marketcap">{{ coin.circulating * coin.price | currency }}</td>
          <td class="hour1" [style.color]="coin.percentChange1hr >= 0 ? 'lightgreen' : 'red'">{{ coin.percentChange1hr }}%</td>
          <td [style.color]="coin.percentChange24hr >= 0 ? 'lightgreen' : 'red'">{{ coin.percentChange24hr }}%</td>
          <td class="day7" [style.color]="coin.percentChange7day >= 0 ? 'lightgreen' : 'red'">{{ coin.percentChange7day }}%</td>
      </tr>
  </table>
</div>
