.table-container {
    padding: 0 85px; /* Adjust the values to your needs */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #363636;
}

tr:hover {background-color: #363636;}

@media (max-width: 1148px) {
    .marketcap {
        display: none;
    }
}

@media (max-width: 1200px) {
    .circulating {
        display: none;
    }
}

/* Hide volume column when width less than 768px (948px - 180px) */
@media (max-width: 868px) {
    .volume {
        display: none;
    }
}

/* Hide 1hr column when width less than 708px (768px - 60px) */
@media (max-width: 708px) {
    .hour1 {
        display: none;
    }
}

/* Hide 7d column when width less than 648px (708px - 60px) */
@media (max-width: 648px) {
    .day7 {
        display: none;
    }
}

/* Reduce side padding when width less than 600px */
@media (max-width: 600px) {
    .table-container {
        padding: 0 1px;
    }
}

.img-container {
    width: 65px;
    height: 50px;
    float: centre;
}

.circulating {
    color: rgb(17, 134, 173);
}

.volume {
    color: rgb(124, 222, 255);
}

.price {
    color: rgb(183, 255, 251)
}
