<br><br><br>
  
<h1 *ngIf="portfolio" align="center">
    {{portfolio.portfolioName}}
</h1>

<br>
<br>



<br>


<div style="display: block">

<h4 align="center" *ngIf="total > 0" >   
      Total Value - {{total | currency}}
</h4> 



<br><br>

<div align="center">
    <p *ngIf="portfolio && portfolio.coinsHodle.length < 1">Select a coin from the dropdown box then click add</p>
    <select class="select" [(ngModel)]="coinSelected">
        <option disabled selected value=undefined> --Select-- </option>
        <option *ngFor="let coin of coinsDropDown" [value]="coin.name">
          {{coin.name}}
        </option>
    </select>
    <button id="GreenB" class="btn btn-success" (click)="onBtnAdd()">Add Coin</button>
  </div>

<br><br>

<div class="container">
    <div class="row">   
      <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
        <h4>Coin</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4 class="price">Price</h4>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Holdings</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Total</h4>
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Transactions</h4>
      </div> 
    </div>
</div>
<hr>

<div *ngIf="portfolio && portfolio.coinsHodle.length > 0">
  <div *ngFor="let coin of coinsnImageList">
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24"> 
          <img class="image"  src={{coin.imageLocation}} width="32" height="32"/>  {{coin.name | titlecase}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          <div class="price">${{coin.price}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          {{coin.quantity}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          {{coin.price * coin.quantity | currency }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          <td><button id="BlueB" class="btn" (click)="addTransaction(coin, portfolio, coins)">Add</button></td>
        </div>
    </div>
    </div> 
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">    
       
     </div>
     <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
      
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
        
      </div>
      <div *ngIf="total > 0" class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
        <!-- {{total | currency}} -->
      </div>
  </div>
  </div> 

  <br>

<canvas *ngIf="total > 0" id="pieChart"></canvas>



