<br><br><br>
  
<h1 align="center">
    {{portfolio.portfolioName}}
</h1>

<br>
<br>

<div align="center">
  <p *ngIf="portfolio && portfolio.coinsHodle.length < 1">Select a coin from the dropdown box then click add</p>
  <select class="select" [(ngModel)]="coinSelected">
      <option *ngFor="let coin of coinsDropDown" [value]="coin.name">
        {{coin.name}}
      </option>
  </select>
  <!-- <button (click)="onBtnAdd()">Add Coin</button> -->
  <button class="btn btn-success" (click)="onBtnAdd()">Add Coin</button>
  <!-- selected value is {{coinSelected}} -->
</div>

<!-- <div style="margin: auto; width: 50%; padding: 10px">
  <td><button class="btn btn-info" (click)="addTransaction()">Add New</button></td>
</div> -->

<br><br><br>

<div class="container">
    <div class="row">   
      <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">
        <h4>Coin</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Price</h4>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
          <h4>Holdings</h4>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
          <h4>Total</h4>
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">
        <h4>Transactions</h4>
      </div> 
    </div>
</div>
<hr>

<div *ngIf="portfolio && portfolio.coinsHodle.length > 0">
  <div *ngFor="let coin of coinsnImageList">
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24"> 
          <img class="image"  src={{coin.imageLocation}} width="32" height="32"/>  {{coin.name | titlecase}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          {{coin.price | currency }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          {{coin.quantity}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          {{coin.price * coin.quantity | currency }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
          <td><button class="btn btn-info" (click)="addTransaction(coin, portfolio)">Add</button></td>
        </div>
    </div>
    </div> 
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 cos-xs-24">    
       
     </div>
     <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
      
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
        
      </div>
      <div *ngIf="total > 0" class="col-lg-2 col-md-2 col-sm-6 cos-xs-24">    
        {{total | currency}}
      </div>
  </div>
  </div> 




