<br><br><br>

<h1 *ngIf="portfolio" align="center">
    {{portfolio.portfolioName}}
</h1>

<br>
<br>



<br>


<div class="table-container">

<h4 align="center" *ngIf="total > 0" > Total Value - {{total | currency}}</h4>
<h4 align="center"> Total BTC Value -  {{total / bitcoinPrice | number:'1.3-3'}}</h4>



<br><br>

<div align="center">
    <p *ngIf="portfolio && portfolio.coinsHodle.length < 1">Select a coin from the dropdown box then click add</p>
    <select class="select" [(ngModel)]="coinSelected">
        <option disabled selected value=undefined> --Select-- </option>
        <option *ngFor="let coin of coinsDropDown" [value]="coin.name">
          {{coin.name}}
        </option>
    </select>
    <button id="GreenB" class="btn btn-success" (click)="onBtnAdd()" [disabled]="isDisabled">Add Coin</button>
</div>

<br><br>

  <table>
      <tr>
          <th>Coin</th>
          <th class="price">Price</th>
          <th>Holdings</th>
          <th>Total</th>
          <th>Transactions</th>
      </tr>

      <tr *ngFor="let coin of coinsnImageList; let i = index">
          <td>
              <img src={{coin.imageLocation}} width="32" height="32"/>
              <span style="padding-left: 10px;">{{ coin.name | titlecase }}</span>
          </td>
          <td class="price">${{coin.price}}</td>
          <td>{{coin.quantity}}</td>
          <td>{{coin.price * coin.quantity | currency }}</td>
          <td><button id="BlueB" class="btn" (click)="addTransaction(coin, portfolio, coins)">Add</button></td>
      </tr>
  </table>

</div>

<br>

<div style="height:400px;"> <!-- Set the height here -->
  <canvas *ngIf="total > 0" id="pieChart"></canvas>
</div>
